p{
    margin-top: 10px;
    width: 400px;
    padding: 3px;
    text-align: center;
    border: .5px;
    border-radius: 8px;
    background-color: rgba(243, 236, 236, 0.589);
}

.add_form
{
    margin-left: 400px;
    margin-top: -200px;
    border: .5px solid;
    width: 500px;
    height: 400px;


}
.boxShape{
    
    border:   .1em;
    border-style:none;
    width: 400px;
    
    background-color: rgba(130, 127, 127, 0.082);

}
.boxShape {
    border: 0.1em;
    border-style: none;
    width: 400px;
    background-color: rgba(130, 127, 127, 0.082);
    margin-top: 1px;
    border-radius: 5px;
}


